.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  font-size: 13px;
  font-family: 'Inconsolata';
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
  height: auto;
}

button {
    padding: 4px 8px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    font-weight: bold;
}

.eval-cljs {
    position: relative;
}

.eval-ctrl {
    clear: both;
    position: relative;
    margin-top: 1em;
    height: 20px;
}

.eval-ctrl input {
    font-size: 15px;
    font-family: 'Inconsolata';
    padding: 4px;
    width: 400px;
}

.eval-ctrl button {
    position: absolute;
    right: 0px;
    top: 2px;
}

.eval-ctrl button:hover {
    color: #222;
    border: 1px solid black;
    background-color: #efefef;
    font-weight: bold;
}

.eval-ctrl button:active {
    color: black;
    background-color: #ddd;
}

#ana-cljs {
    position: relative;
    height: 300px;
}

#comp-cljs {
    position: relative;
    height: 125px;    
}

#macro-cljs {
    position: relative;
    height: 125px;    
}

#ana-cljs .CodeMirror,
#ana-cljs .CodeMirror .CodeMirror-scroll,
#ana-cljs .CodeMirror .CodeMirror-gutters {
    height: 300px;
}

#comp-cljs .CodeMirror,
#comp-cljs .CodeMirror .CodeMirror-scroll,
#comp-cljs .CodeMirror .CodeMirror-gutters {
    height: 125px;
}

#macro-cljs .CodeMirror,
#macro-cljs .CodeMirror .CodeMirror-scroll,
#macro-cljs .CodeMirror .CodeMirror-gutters {
    height: 125px;
}

.eval-cljs .cols .left,
.eval-cljs .cols .right {
    width: 290px;
    height: 300px;
}

.eval-cljs .cols .left {
    position: absolute;
    left: 0px;
}

.eval-cljs .cols .right {
    Position: absolute;
    right: 0px;
}