/* Iosevka Etoile - Regular */
@font-face {
  font-family: 'Iosevka Etoile';
  font-style: normal;
  font-weight: 400;
  src: url('#{$asset_url}/fonts/IosevkaEtoile-Regular.woff2') format('woff2');
}

/* Iosevka Etoile - Medium */
@font-face {
  font-family: 'Iosevka Etoile';
  font-style: normal;
  font-weight: 500;
  src: url('#{$asset_url}/fonts/IosevkaEtoile-Medium.woff2') format('woff2');
}

/* Iosevka Etoile - Bold */
@font-face {
  font-family: 'Iosevka Etoile';
  font-style: normal;
  font-weight: 700;
  src: url('#{$asset_url}/fonts/IosevkaEtoile-Bold.woff2') format('woff2');
}

/* Iosevka Etoile - Italic */
@font-face {
  font-family: 'Iosevka Etoile';
  font-style: italic;
  font-weight: 400;
  src: url('#{$asset_url}/fonts/IosevkaEtoile-Italic.woff2') format('woff2');
}

/* Iosevka Term - Regular */
@font-face {
  font-family: 'Iosevka Term';
  font-style: normal;
  font-weight: 400;
  src: url('#{$asset_url}/fonts/IosevkaTerm-Regular.woff2') format('woff2');
}

/* Iosevka Term - Bold */
@font-face {
  font-family: 'Iosevka Term';
  font-style: normal;
  font-weight: 700;
  src: url('#{$asset_url}/fonts/IosevkaTerm-Bold.woff2') format('woff2');
}