/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@font-face {
    font-family: 'Latin Modern Roman';
    src: url('lmroman10-regular-webfont.eot');
    src: url('lmroman10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('lmroman10-regular-webfont.woff') format('woff'),
         url('lmroman10-regular-webfont.ttf') format('truetype'),
         url('lmroman10-regular-webfont.svg#latin_modern_roman10_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Global Reset */

* {
    margin: 0;
    padding: 0;
}

html, body {
}

body {
    background-color: white;
    font: 13.34px helvetica, arial, clean, sans-serif;
    *font-size: small;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Latin Modern Roman', Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h1 {
    margin-bottom: 1em;
}

p {
    margin: 1em 0;
}

a {
    color: #00a;
}

a:hover {
    color: black;
}

a:visited {
    color: #a0a;
}

table {
    font-size: inherit;
    font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

ul.posts li {
    line-height: 1.75em;
}

ul.posts span {
    color: #666;
    font-family: arial, helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
    font-size: 110%;
    text-align: justify;
    width: 586px;
    margin: 3em auto 2em auto;
    line-height: 1.5em;
}

.title {
    color: #a00;
    font-family: inconsolata;
    font-size: 18px;
    margin-bottom: 2em;
    text-transform: lowercase;
}

.site .title a {
    color: #a00;
    text-decoration: none;
}

.site .title a:hover {
    color: black;
}

.site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
}

.site .title a.extra:hover {
    color: black;
}

.site .meta {
    color: #aaa;
}

.site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
}

.site .footer .contact {
    float: left;
    margin-right: 3em;
}

.site .footer .contact a {
    color: #8085C1;
}

.site .footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}

.site .footer .rss img {
    border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
}

  /* standard */

#post pre {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    padding: 20px 0;
    margin: 15px 0;
}

#post pre code {
    font-weight: normal;
}

#post ul,
#post ol {
    margin-left: 1.35em;
    font-family: 'Latin Modern Roman', Georgia, 'Times New Roman', Times, serif;
}

#post code, #post .code {
    font-weight: bold;
    padding: 0;
}

#post pre code {
    border: none;
}

  /* terminal */

#post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
}

#post pre.terminal code {
    background-color: #333;
}

#related {
    margin-top: 2em;
}

#related h2 {
    margin-bottom: 1em;
}

/* Customizations */

blockquote {
    font-family: 'Latin Modern Roman', Georgia, 'Times New Roman', Times, serif;
    padding: 20px 30px 10px 30px;
    border: 1px solid black;
    margin: 15px 0;
}

#post p {
    font-family: 'Latin Modern Roman', Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 16px;
}

#post p.meta {
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #666;
}

.MathJax .noError {
    border: none !important;
    padding: 0 !important;
}

/* CodeMirror */

#post .CodeMirror-code pre {
    padding: 0 4px;
    margin: 0;
    border: 0;
}